.date-input {
  display: flex;
  flex-direction: column;
  width: 15rem;
  text-align: center;

  &__input {
    background-color: transparent;
    color: #eee;
    border: none;
    outline: none;
    font-size: 4rem;
    text-align: center;
    margin: 0 1rem;

    border-bottom: .2rem solid grey;
  }

  &__label {
    margin-top: .4rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: steelblue;
  }
}
