* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #333;
  color: #eee; }

.create-event {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.date-input {
  display: flex;
  flex-direction: column;
  width: 15rem;
  text-align: center; }
  .date-input__input {
    background-color: transparent;
    color: #eee;
    border: none;
    outline: none;
    font-size: 4rem;
    text-align: center;
    margin: 0 1rem;
    border-bottom: .2rem solid grey; }
  .date-input__label {
    margin-top: .4rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: steelblue; }

.notepad {
  height: 100%;
  width: 50rem;
  border: .1rem solid grey; }
  .notepad__title {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: .5rem;
    text-align: center;
    height: 3.5rem; }
  .notepad__notes {
    background-color: #eee;
    font-size: 1.6rem;
    height: calc(100% - 3.5rem);
    color: black;
    padding: 1rem; }

.container {
  display: flex;
  border: 1px solid yellow;
  height: calc(100vh - 13rem); }

.submit-btn {
  background-color: steelblue;
  border: none;
  padding: 1rem 3rem;
  height: 4rem;
  border-radius: 3px;
  color: #eee;
  text-transform: uppercase;
  margin-left: 2rem; }

.tasks {
  text-transform: capitalize; }
  .tasks__header {
    border: 1px dashed grey; }
  .tasks__title {
    display: inline-block;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
    border-bottom: .1rem solid grey;
    width: 100%; }
  .tasks__row {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 100; }
  .tasks__col {
    padding: 1rem;
    width: 20rem; }
  .tasks__checkbox {
    width: 12rem;
    text-align: center; }
  .tasks__completed-info {
    width: 15rem; }
  .tasks__icon {
    width: 8rem;
    text-align: center;
    position: relative; }
    .tasks__icon--svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: steelblue; }

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: rgba(238, 238, 238, 0.8);
  height: 3rem; }

.header {
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  color: steelblue;
  height: 10rem; }

.section {
  margin: 3rem 1rem; }
